* {
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    overflow: hidden;
    font-family: 'Roboto', Arial, Microsoft JhengHei, Heiti TC !important;
    cursor: grab;
}

.marker {
    display: block;
    width: 96px;
    height: 96px;
    background: url('../../img/marker/marker1.png') top center;
    animation: marker-animate 1.5s steps(10) infinite;
    cursor: pointer;
}

.dot {
    display: block;
    width: 67px;
    height: 67px;
    background: url('../../img/marker/marker2.png') top center;
    animation: dot-animate 1.5s steps(10) infinite;
    cursor: pointer;
}

.hidden {
    display: none !important;
}

@keyframes marker-animate {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 0px -960px;
    }
}

@keyframes dot-animate {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 0px -670px;
    }
}

.btn_screen {
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 1;
}

.btn_home {
    position: absolute;
    bottom: 15px;
    right: 78px;
    z-index: 1;
    cursor: pointer;
}

.btn_home img {
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background: #000;
    transition: .5s all;
    opacity: 0;
    z-index: -1;
}

.overlay.change {
    opacity: 1;
    z-index: 100;
}

.panel-content {
    width: 400px;
    font-size: 22px;
    color: #fff;
    background: rgba(78, 185, 217,.6);
    padding: 10px 15px;
    font-weight: 600;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.panel-title{
    padding: 10px 15px;
    text-align: center;
    font-size: 27px;
    background: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #47b6d8;
    font-weight: 600;
}