* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', Arial, Microsoft JhengHei, Heiti TC !important;
    height: 100%;
    overflow: hidden;
    background: #6ed3ff;
}

input {
    font-family: 'Roboto', Arial, Microsoft JhengHei, Heiti TC !important;
}

a {
    background-color: Transparent;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    outline-offset: 0;
    border: 0;
}

.btn-active:hover {
    filter: opacity(.9) drop-shadow(0 0 0 black);
}

.btn-active:active {
    filter: opacity(.8) drop-shadow(0 0 0 black);
}

.black {
    background: black;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.background .cloud1-animate {
    position: absolute;
    top: -12%;
    left: -3%;
    width: 29%;
}

.background .cloud2-animate {
    position: absolute;
    bottom: -14%;
    left: -5%;
    width: 43%;
}

.background .cloud3-animate {
    position: absolute;
    bottom: -10%;
    right: -5%;
    width: 19%;
}

.background .object22-animate {
    position: absolute;
    bottom: 47%;
    left: 95%;
    width: 6%;
}

.background .object21-animate {
    position: absolute;
    bottom: 75%;
    left: 85%;
    width: 6%;
}

.background .object20-animate {
    position: absolute;
    bottom: 75%;
    left: 97%;
    width: 4%;
}

.background .object19-animate {
    position: absolute;
    bottom: 83%;
    left: 97%;
    width: 4%;
}

.background .object18-animate {
    position: absolute;
    bottom: 90%;
    left: 96%;
    width: 3%;
}

.background .object17-animate {
    position: absolute;
    bottom: 92%;
    left: 83%;
    width: 6%;
}

.background .object16-animate {
    position: absolute;
    bottom: 91%;
    left: 75%;
    width: 6%;
}

.background .object15-animate {
    position: absolute;
    bottom: -2%;
    left: 76%;
    width: 6%;
}

.background .object13-animate {
    position: absolute;
    bottom: -3%;
    left: 57%;
    width: 6%;
}

.background .object12-animate {
    position: absolute;
    bottom: 0%;
    left: 48%;
    width: 4%;
}

.background .object11-animate {
    position: absolute;
    bottom: 2%;
    left: 37%;
    width: 4%;
}

.background .object10-animate {
    position: absolute;
    bottom: -1%;
    left: 27%;
    width: 6%;
}

.background .object9-animate {
    position: absolute;
    bottom: 10%;
    left: 23%;
    width: 3%;
}

.background .object8-animate {
    position: absolute;
    bottom: 10%;
    left: 3%;
    width: 7%;
}

.background .object7-animate {
    position: absolute;
    bottom: 23%;
    left: 13%;
    width: 4%;
}

.background .object6-animate {
    position: absolute;
    bottom: 50%;
    left: 10%;
    width: 7%;
}

.background .object5-animate {
    position: absolute;
    bottom: 55%;
    left: 1%;
    width: 5%;
}

.background .object4-animate {
    position: absolute;
    bottom: 65%;
    left: 10%;
    width: 2%;
}

.background .object3-animate {
    position: absolute;
    bottom: 70%;
    left: 3%;
    width: 5%;
}

.background .object2-animate {
    position: absolute;
    bottom: 78%;
    left: 8%;
    width: 7%;
}

.background .object1-animate {
    position: absolute;
    bottom: 64%;
    left: 96%;
    width: 2%;
}

.welcome {
    display: block;
    text-align: center;
}

.welcome .welcome-background {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.welcome .form {
    display: inline-block;
    margin: 0 auto;
    height: 17%;
    width: 68%;
    margin-left: -3%;
}

.welcome .btn-switch {
    display: inline-block;
    width: 43%;
}

.welcome .btn-confirm {
    display: inline-block;
    width: 20%;
}

/*.welcome .btn-switch:active, .welcome .btn-confirm:active {*/
/*    opacity: .7;*/
/*    background: rgba(0, 0, 0, 0);*/
/*}*/

.welcome .btn-switch img, .welcome .btn-confirm img {
    width: 100%;
    object-fit: contain;
}

.welcome .form-input {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 81%;
    width: 100%;
}

.welcome .form-input .form-block {
    position: absolute;
    top: 35%;
    font-size: 20px;
    font-weight: 600;
    width: 62%;
    font-size: 1.5rem;
}

.welcome .form-input .form-block .form-area, .form-switch {
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome .form-switch-1 {
    display: block;
}

.welcome .form-switch-2 {
    display: none;
}

.welcome .form-input .form-block input {
    background: #dacf68;
    border: 2px solid #b4a93e;
    border-radius: 10vh;
    height: 10vh;
    width: 25%;
    text-align: center;
    outline: none;
    font-size: 1.5rem;
    font-weight: 600;
}

.start {
    display: none;
    height: 100%;
    width: 100%;
    text-align: center;
}

.start .btn-start {
    display: inline-block;
    height: 100%;
    z-index: 31;
}

.start .btn-start img {
    object-fit: contain;
    height: 100%;
}

.start .logo-block {
    height: 70%;
}

.start .start-block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
}

.start .rocket {
    position: absolute;
    bottom: 25%;
    width: 6%;
    z-index: 20;
}

.start .rocket img, .start .btn-description img, .btn-previous img {
    width: 100%;
}

.start .btn-description, .start .btn-previous {
    position: absolute;
    display: inline-block;
    width: 14vh;
    height: 14vh;
    left: 2%;
    top: 3%;
}

.start .btn-previous {
    right: 2%;
    left: unset;
}

.start .logo-object2-animate {
    position: absolute;
    width: 23%;
    left: 53%;
    top: 26.5%;
    z-index: 1;
}

.start .logo-object3-animate {
    position: absolute;
    width: 15%;
    top: 35%;
    left: 55.5%;
    z-index: 1;
}

.start .logo-object1-animate {
    position: absolute;
    width: 48%;
    top: 22%;
    left: 27.5%;
}

.start .logo-object4-animate {
    position: absolute;
    width: 38%;
    top: 38%;
    left: 31%;
    z-index: 1;
}

.start .logo-object9-animate {
    position: absolute;
    width: 36%;
    left: 32%;
    top: 40%;
    z-index: 2;
}

.start .logo-object5-animate {
    position: absolute;
    top: 40%;
    left: 66%;
    width: 6.5%;
    z-index: 1;
}

.start .logo-object6-animate {
    position: absolute;
    width: 8%;
    top: 52%;
    left: 29%;
    z-index: 1;
}

.start .logo-object7-animate {
    position: absolute;
    width: 9%;
    left: 43.5%;
    top: 33%;
    z-index: 1;
}

.start .logo-object8-animate {
    position: absolute;
    width: 7%;
    top: 54%;
    left: 56%;
    z-index: 1;
}

.start .logo-object13-animate {
    position: absolute;
    top: 41.3%;
    left: 32.3%;
    width: 8.8%;
    z-index: 10;
}

.start .logo-object12-animate {
    position: absolute;
    width: 9.3%;
    top: 41.9%;
    left: 39.5%;
    z-index: 10;
}

.start .logo-object11-animate {
    position: absolute;
    width: 9.3%;
    top: 42.8%;
    left: 48.6%;
    z-index: 10;
}

.start .logo-object10-animate {
    position: absolute;
    width: 9.3%;
    top: 42.8%;
    z-index: 10;
    left: 58%;
}

.start .man {

}

.start .man .body-animate {
    position: absolute;
    right: 10%;
    width: 10%;
    bottom: 28%;
}

.start .man .hand1-animate {
    position: absolute;
    width: 3%;
    right: 10.4%;
    bottom: 40.4%;
}

.start .man .hand2-animate {
    position: absolute;
    right: 16.7%;
    width: 4%;
    bottom: 31%;
}

.start .man .book-animate {
    position: absolute;
    width: 28%;
    right: -1%;
    bottom: 17%;
    z-index: 2;
}

.description {
    display: none;
}

.description .intro-block {
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.description .intro-block .intro-title {
    position: absolute;
    width: 19%;
    left: 3%;
    top: 4%;
}

.description .intro-block .intro-previous {
    position: absolute;
    width: 17.3vh;
    height: 17vh;
    left: 11.4%;
    top: 27.2%;
}

.description .intro-block .intro-next {
    position: absolute;
    right: 11.4%;
    width: 17.3vh;
    height: 17vh;
    top: 27.2%;
}

.description .intro-block .intro-carousel {
    position: absolute;
    top: 7%;
    left: 25%;
    width: 49.5%;
    height: 53%;
}

.description .intro-block .intro-carousel .carousel-item, .description .info-block .info-carousel .carousel-item {
    display: none;
}

.description .intro-block .intro-carousel .carousel-item.active, .description .info-block .info-carousel .carousel-item.active {
    display: block;
}

.description .info-block {
    height: calc(25% - 8px);
    border: 4px solid #c26900;
    background: #f7931d;
    text-align: center;
    position: absolute;
    display: flex;
    width: calc(100% - 8px);
    align-items: center;
    justify-content: center;
}

.description .nav-page {
    position: absolute;
    width: 16%;
    bottom: 98%;
    left: 50%;
    margin-left: -8%;
}

.description .nav-page img, .description .intro-block .intro-title img,
.description .intro-block .intro-previous img, .description .intro-block .intro-next img,
.description .intro-block .intro-carousel img {
    width: 100%;
}

.description .intro-background {
    width: 80%;
    height: 95%;
    text-align: center;
}

.description .intro-background img {
    height: 100%;
    width: 100%;
}

.description .nav-page .page {
    margin-right: 5%;
}

.description .nav-page .page-length {
    margin-left: 5%;
}

.description .nav-page .number {
    position: absolute;
    display: flex;
    top: 1%;
    font-size: 1.3rem;
    width: 100%;
    text-align: center;
    font-weight: 600;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.description .btn-previous {
    position: absolute;
    display: inline-block;
    width: 14vh;
    height: 14vh;
    right: 2%;
    top: 3%;
}

.input-code {
    display: none;
    height: 100%;
    width: 100%;
    text-align: center;
}

.input-code .btn-previous {
    position: absolute;
    display: inline-block;
    width: 14vh;
    height: 14vh;
    top: 3%;
    right: 2%;
}

.input-code .form-input {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.input-code .form-block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.input-code .man-block {
    position: absolute;
    width: 16%;
    height: 36%;
    bottom: 0%;
    left: -1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-code .man {
    position: absolute;
    width: 100%;
    transform: rotateY(180deg) rotate(-12deg);
}

.input-code .book {
    position: absolute;
    width: 100%;
    left: 43%;
    bottom: -1%;
    transform: rotateY(180deg) rotate(13deg);
}

.input-code .bag {
    position: absolute;
    width: 27%;
    left: 10%;
    bottom: 27%;
    transform: rotateY(180deg) rotate(-5deg);
    z-index: 1;
}

.input-code .hand1 {
    position: absolute;
    width: 26%;
    left: 10%;
    bottom: 47%;
    transform: rotateY(180deg) rotate(3deg);
}

.input-code .hand2 {
    position: absolute;
    width: 26%;
    left: 82%;
    bottom: 23%;
    transform: rotateY(0deg) rotate(66deg);
    z-index: -1;
}

.input-code .form-block img {
    width: 100%;
}

.input-code .form-block .form-area {
    position: absolute;
    width: 100%;
    top: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-code .form-block .form-area input {
    border-radius: 10vh;
    margin-right: 3%;
    width: 36%;
    height: 12vh;
    border: 4px solid #bfca68;
    font-size: 1.7rem;
    text-align: center;
    outline: none;
}

.input-code .form-block .form-area .btn-confirm {
    width: 12%;
}

.game-select {
    display: none;
    height: 100%;
    width: 100%;
    text-align: center;
}

.game-select .topic {
    width: 60%;
    background: #232389;
    color: #fff;
    font-size: 2rem;
    padding: 2% 0;
    position: absolute;
    left: 50%;
    margin-left: -30%;
    top: 10%;
    border: 3px solid #fff;
    border-radius: 20px;
}

.game-select .normal {
    position: absolute;
    height: 36%;
    bottom: 22%;
    left: 32%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.game-select .button-back-normal {
    position: absolute;
    height: 100%;
}

.game-select .phone-mode-normal {
    position: absolute;
    bottom: 43%;
    height: 37%;
}

.game-select .normal-mode-text-normal {
    position: absolute;
    bottom: 21%;
    height: 11%;
}

.game-select .vr {
    position: absolute;
    height: 36%;
    bottom: 22%;
    right: 32%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.game-select .button-back-vr {
    position: absolute;
    height: 100%;
}

.game-select .vr-glasses-vr {
    position: absolute;
    bottom: 44%;
    height: 33%;
}

.game-select .in-vr-text-vr {
    position: absolute;
    bottom: 21%;
    height: 11%;
}

.game-select .btn-previous {
    position: absolute;
    display: inline-block;
    width: 14vh;
    height: 14vh;
    top: 3%;
    right: 2%;
}

.game-select .man-block {
    position: absolute;
    width: 16%;
    height: 36%;
    bottom: 0%;
    left: -1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-select .man {
    position: absolute;
    width: 100%;
    transform: rotateY(180deg) rotate(-12deg);
}

.game-select .book {
    position: absolute;
    width: 100%;
    left: 43%;
    bottom: -1%;
    transform: rotateY(180deg) rotate(13deg);
}

.game-select .bag {
    position: absolute;
    width: 27%;
    left: 10%;
    bottom: 27%;
    transform: rotateY(180deg) rotate(-5deg);
    z-index: 1;
}

.game-select .hand1 {
    position: absolute;
    width: 26%;
    left: 10%;
    bottom: 47%;
    transform: rotateY(180deg) rotate(3deg);
}

.game-select .hand2 {
    position: absolute;
    width: 26%;
    left: 82%;
    bottom: 23%;
    transform: rotateY(0deg) rotate(66deg);
    z-index: -1;
}

#normal-scene{
    display: none;
}

#vr-scene{
    display: none;
}

/* old */
.marker {
    display: block;
    width: 96px;
    height: 96px;
    background: url('../../img/marker/marker1.png') top center;
    animation: marker-animate 1.5s steps(10) infinite;
    cursor: pointer;
}

.dot {
    display: block;
    width: 67px;
    height: 67px;
    background: url('../../img/marker/marker2.png') top center;
    animation: dot-animate 1.5s steps(10) infinite;
    cursor: pointer;
}

.hidden {
    display: none !important;
}

@keyframes marker-animate {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 0px -960px;
    }
}

@keyframes dot-animate {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 0px -670px;
    }
}

.btn_screen {
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 1;
}

.btn_home {
    position: absolute;
    bottom: 15px;
    right: 78px;
    z-index: 1;
    cursor: pointer;
}

.btn_home img {
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background: #000;
    transition: .5s all;
    opacity: 0;
    z-index: -1;
}

.overlay.change {
    opacity: 1;
    z-index: 100;
}

.panel-content {
    width: 400px;
    font-size: 22px;
    color: #fff;
    background: rgba(78, 185, 217, .6);
    padding: 10px 15px;
    font-weight: 600;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.panel-title {
    padding: 10px 15px;
    text-align: center;
    font-size: 27px;
    background: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #47b6d8;
    font-weight: 600;
}